*{
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;
}
h1, h2,h3{
    font-family: 'Edu VIC WA NT Beginner', cursive;
}

html{
    scroll-behavior: smooth;
}

.imagen_banner{
    height: 60vh;
}
.barra_nav{
    background-image:linear-gradient(90deg, rgba(255,229,181,1) 12%, rgba(241,216,162,1) 35%, rgba(233,233,233,1) 100%)!important;
}
.columna_medio_1{
    text-align: center;
}
.imagen_1{
    width: 38vh;
    padding-top: 30px;
    display: flex;
    justify-content: center;

}
.contenedor_1{
    background: rgb(255,229,181);
background: linear-gradient(176deg, rgba(255,229,181,1) 12%, rgba(241,216,162,1) 35%, rgba(233,233,233,1) 100%);
}
.contenedor_2{
    background: rgb(233,233,233);
background: linear-gradient(176deg, rgba(233,233,233,1) 35%, rgba(191,126,238,1) 100%, rgba(149,70,255,1) 100%);
}
.imagen_2{
    height: 300px;
    width: 300px;
    display: flex;
    padding-top: 30px;
}
.infografia{
    width: 600px;
}
.button:hover{
    border: 1px #d6af60 solid;
    width: 20rem;
    height: 5rem;
}
.button2:hover{
    border: 1px #d6af60 solid;
    width: 10rem;
    height: 5rem;
}